.team {
  background-color: var(--secondary-bg-color);
}
.team__list {
  display: flex;
  flex-wrap: wrap;
}

.team__list__item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;

  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__list__item:nth-child(4n) {
  margin-right: 0;
}

.team__list__border {
  padding: 30px 0px;
}

.team__list__title {
  margin-bottom: 10px;

  @include font(16px, 500, 19px);
  text-align: center;
}
.team__list__text {
  margin-bottom: 16px;
  color: var(--secondary-text-color);

  @include font(16px, 400, 19px);
  text-align: center;
}
